@charset "utf-8";
/* CSS Document */
/*登录*/
.b_boxa{
	width:100%;
	background:#f5f5f5;
	border-bottom:1px solid #dfdfdf;
}
/*****************************************/
.b_boxa1_a:active{
	color:#F00;
}
.b_boxa1_a1:active{
	color:#F00;
}
.b_boxa1_a2:active{
	color:#F00;
}
.b_boxa1_a3:active{
	color:#F00;
}
/**********************************/

.b_boxa1 a{
	line-height:18px;
	font-soze:12px;
	color:#666px;
	margin-top:8px;
}
.b_boxa1_a{
	padding-right:78px;
}
.b_boxa1 .b_boxa1_a1{
	padding-right:15px;
}
.b_boxa1 .b_boxa1_a2{
	padding-right:10px;
	border-right:1px solid #dddddd;
}
.b_boxa1 .b_boxa1_a3 i{
	float:left;
	width:10px;
	height:16px;
	background:url(../images/b_8.jpg) no-repeat;
	margin-right:4px;	
	margin-left:17px;
}
.b_boxa2 a{ line-height:18px; font-soze:12px; color:#666px; margin-top:8px;}
.b_boxa2{ margin-bottom:4px;}
.b_boxa2 .b_boxa2_background{float:left; padding-left:22px;}
.b_boxa2 .b_boxa2_background1{ float:left; border-right:1px solid #dddddd; margin-left:12px;}
.b_boxa2 .b_boxa2_background1 i{ float:right; width:8px; height:5px; background:url(../images/b_9.jpg) no-repeat; margin:7px 8px;}
.b_boxa2 .b_boxa2_background2{ float:left; border-right:1px solid #dddddd; margin-left:12px;}
.b_boxa2 .b_boxa2_background2 i{ float:right; width:8px; height:5px; background:url(../images/b_9.jpg) no-repeat; margin:7px 8px;}
.b_boxa2 .b_boxa2_background3 { float:left; border-right:1px solid #ddd; margin-left:12px;}
.b_boxa2 .b_boxa2_background3 span{ float:left; width:13px; height:15px; background:url(../images/b_1.png) no-repeat 4px 4px; margin-left:12px; padding-right:9px;}/**/
.b_boxa2 .b_boxa2_background3 i{ float:right; width:8px; height:5px; background:url(../images/b_9.jpg) no-repeat; margin:7px 8px;}
.b_boxa2 .b_boxa2_background4{ float:left; margin-left:12px;}
.b_boxa2 .b_boxa2_background4 i{ float:right; width:8px; height:5px; background:url(../images/b_9.jpg) no-repeat; margin:7px 8px;}
.b_boxa3a{margin-bottom:22px;}
/******一下为LOGO*****/
.b_boxa3{margin-bottom:16px;}
.b_boxa3b_logo{
	width:82px;
	height:54px;
	background:url(../images/base.vdd88fa40.png) no-repeat 0 -78px;
	text-indent:-9999em;
	float:left;
	margin-right:10px;
}
.b_boxa3b_a p{
	margin-bottom:6px;
	font-weight:bold;
}
.b_boxa3b_a_select{
	width:74px;
	height:20px;
	color:#999999;
	font-size:12px;
}

.b_boxa3b_b{ width:508px; height:40px; border:3px solid #2db8ad;}
.b_boxa3b_b .b_sel{ width:62px; height:40px; border:1px solid #ddd; padding-left:8px;}
.b_boxa3b_b .b_inp{ width:437px; height:36px; padding-left:5px; color:#757575;}
.b_inp2{ width:79px; height:45px; background:#2db8ad; color:#fff;}
.b_inp2:active{
	background:#FFF;
	color:#000;
}
.b_boxa3b_b{
    margin-left:148px;	
}
.b_boxa3b_a_p{
	width:186px;
	height:42px;
	float:right;
	background:url(../images/base.vdd88fa40.png) no-repeat -11px -30px;
	margin-left:5px;
}
.b_boxa3 .b_boxa3c{
	margin-left:300px;
}
.b_boxa3c_background{
	padding:0 10px;
	font-size:12px;
	color:#666666;
}
.a_wrap{
	padding-top:42px;
}
.a_top{
	margin-bottom:20px;
}
.a_left_t h1{
	width:82px;
	height:54px;
	background:url(../../images/logo.jpg) no-repeat;
}
.a_left_t h1 a{
	height:100%;
	width:100%;
	text-indent:-999em;
	display:block;	
}

.a_left_t{
	float:left;	
	width:553px;
}
.a_left_t img{
	float:left;
}

/*zhanghaodenglu*/
.a_con{
	width:262px;
	float:left;
	margin-top:92px;
}
.a_con1 a:hover{
	color:#2db9ac;
}
.a_con2 a:hover{
	color:#2db9ac;
}
.a_con1 a{
	color:#666;
	font-size:14px;
}
.a_con2 a{
	color:#666;
	font-size:14px;
	float:left;
	margin-right:3px;
}
.a_con2 i{
	background:url(../../images/shouji.jpg) no-repeat;
	width:10px;
	height:13px;
	float:right;
	margin-top:2px;
}
.a_con .a_con1{
	float:left;
	margin-bottom:10px;	
}
.a_con2{
	float:right;
}
.a_inp1{
	color:#757575;
	font-size:14px;
	width:225px;
	height:34px;
	border:1px solid #aaa;
	padding-left:33px;	
}
.a_inp1-1{
	margin-bottom:16px;
}
.a_inp1-2{
	margin-bottom:8px;
}
.a_inp{
	position:relative;
}
.a_yonghu{
	background:url(../../images/yonghu.jpg) no-repeat;
	width:18px;
	height:17px;
	position:absolute;
	top:10px;
	left:8px;
}
.a_yh1{
	background:url(../../images/mima.jpg) no-repeat;
	width:16px;
	height:18px;
	position:absolute;
	top:62px;
	left:8px;
}
.a_fuxuan a{
	color:#2bb8aa;
	margin-left:37px;
}
.a_fuxuan{
	margin-bottom:18px;
}
.a_deng{
	width:260px;
	height:37px;
	color:#fff;
	background:#2db9ac;
	border-top:none;
	border-right:none;
	border-left:none;
	margin-bottom:23px;
	cursor:pointer;
}
.a_zp{
	margin-bottom:56px;
	
}
.a_zp span{
	font-size:14px;
	color:#666;
}
.a_zp a{
	font-size:14px;
	color:#2bb8aa;
}
.a_zh p{
	font-size:14px;
	color:#666;
	margin-bottom:10px;
}
.a_qq{
	background:url(../../images/qq.jpg) no-repeat;
	width:16px;
	height:16px;
	float:left;
	margin-right:6px;
}
.a_zh a span{
	color:#999;
}
.a_zfb{
	background:url(../../images/zfb.jpg) no-repeat;
}
.a_wb{
	background:url(../../images/wb.jpg) no-repeat;
}
.a_bd{
	background:url(../../images/bd.jpg) no-repeat;
}
.a_360{
	background:url(../../images/360.jpg) no-repeat;
}
.a_gd{
	background:url(../../images/dsj.jpg) no-repeat 0 5px;

}
.a_za1, .a_za2, .a_za3, .a_za4, .a_za5{
	float:left;
	margin-right:15px;
	margin-bottom:10px;
}
.a_zh .a_za6 span{
	color:#2bb8aa;
	float:left;
}
.a_zh a span:hover{
	color:#2db9ac;
}
/*dingwei*/
.a_rt img{
	position:fixed;
	right:170px;
	top:75px;
	cursor:pointer;
}
.a_rt i{
	background:url(../../images/bi.jpg) no-repeat;
	height:41px;
	width:41px;
	border:1px solid #e8e8e8;
	position:fixed;
	right:245px;
	top:510px;
	cursor:pointer;
}
/*dibu*/
.a_last{
	border-bottom:1px solid #eee;
	border-top:1px solid #eee;
	width:980px;
	height:48px;
	line-height:48px;
	margin-bottom:24px;
}
.a_last a{
	border-right:1px solid #eee;
	color:#999;
	padding-right:17px;
	margin-right:16px;
}
.a_last .a_lta{
	border:none;
	margin:0;
	padding:0;
}
.a_ul, .a_ul li{
	float:left;
}
.a_ul{
	margin-right:130px;
}
.a_ul a:hover{
	color:#2db9ac;
}
.a_ltr1{
	background:url(../../images/tui.jpg) no-repeat;
	width:22px;
	height:24px;
	float:left;
	margin-right:6px;
	margin-top:12px;
}
.a_ltr2{
	background:url(../../images/dg.jpg) no-repeat;
	width:22px;
	height:24px;
	float:left;
	margin-right:6px;
	margin-top:12px;
}
.a_ltr3{
	background:url(../../images/y.jpg) no-repeat;
	width:24px;
	height:24px;
	float:left;
	margin-right:6px;
	margin-top:12px;
}
.a_ltr span{
	color:#8c8c8c;
}
.a_ltr li{
	margin-right:20px;
	float:left;
}
/*weibu*/
.a_weibu{
	color:#999;
	margin-bottom:150px;
	
}

.b_box{
	width:100%;
	background:#f6f6f6;
	border-top:3px solid #3aa2a2;
}
/***************************************************************/
.b_box_1 dl{
	border-left:1px dashed #a5a5a5;
}
.b_box_1 dt{
	font-size:14px;
	font-weight:bold;
	width:162px;
	line-height:30px;
	margin-top:19px;
	padding-left:24px;
	
}
.b_box_1 dd{
	font-size:12px;
	width:162px;
	line-height:22px;
	padding-left:24px;
}
.b_box .b_box_1{
	margin-bottom:22px;
}
.b_box_1 dd i{
	width:6px;
	height:22px;
	float:left;
	background:url(../images/b_1.jpg) no-repeat 3px center;
	padding-left:4px;
	padding-right:3px;
}
.b_box_1_yx a{
	padding-left:13px
}
.b_box_1_over1{
	border-left:1px dashed #a5a5a5;
	border-right:1px dashed #a5a5a5;
}
.b_box_1_over a{
	width:100px;
	height:48px;
	float:left;
	background:url(../images/b_2.jpg) no-repeat;
	margin-top:22px;
	padding-left:86px;
	margin-bottom:18px;
}
.b_box_1_over2 p{
	font-size:12px;
	color:#919292;
	
}
.b_box_1_over2 a{
	font-size:12px;
	color:#2bb8aa;
}
.b_box_1_over3 p{
	color:#667e7e;
}
/******************************************************/
.b_box_2{margin-bottom:10px;}
.b_box_2 p{
	width:744px;
	line-height:34px;
	font-size:14px;
	color:#999999;
	margin:0 auto;
}
/***********************************************************/
.b_box_3{
	width:862px;
	padding-left:16px;
}
.b_box_3_img{
	width:111px;
	height:40px;
	background:url(../images/b_3.jpg) no-repeat;
	margin:0 14px;
}
.b_box_3_img2{
	width:123px;
	height:40px;
	background:url(../images/b_4.jpg) no-repeat;
	margin:0 14px;
}
.b_box_3_img3{
	width:87px;
	height:40px;
	background:url(../images/b_5.jpg) no-repeat;
	margin:0 14px;
}
.b_box_3_img4{
	width:113px;
	height:40px;
	background:url(../images/b_6.jpg) no-repeat;
	margin:0 14px;
}
.b_box_3_img5{
	width:123px;
	height:40px;
	background:url(../images/b_7.jpg) no-repeat;
	margin:0 14px;
}
